/*
Colors:
Primary: #2B4162
Secondary: #97A8B4
Background: #F5F0F6
Accent: #E6D2B7
*/


/*
======= NAV STYLING =========
*/

header {
    background-color: #2B4162;
    padding: 5px;
    color: white;
}

footer {
    background-color: #2B4162;
    padding: 5px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F0F6;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #1f2427;
}

.topButton {
    /*Transparent so it does not show up behind icon as a square*/
    background-color: #ffffff00;
    padding: 5px;
    display: block;
    position: sticky;
    border-width: 0px;
    top: 0;
}

#upIcon {
    width: 50px;
    height: 50px;
    border-radius: 80%;
}

#upIcon:hover {
    -webkit-filter: invert(100%);
}

.projButton {
    background-color: #97A8B4;
    padding: 5px;
    display: block;
    margin: 0 auto;
    border-color: #97A8B4;
}

.projButton:hover {
    background-color: #385F71;
    border-color: #385F71;
}

h1,
h2 {
    text-align: center;
}

nav {
    display: flex;
}

body {
    background-color: #F5F0F6;
}

#intro {
    background-color: rgb(110, 157, 191);
    background-image: url('nm.png');
    background-repeat: no-repeat;
    background-size: 1500px 600px;
    padding: 50px;
}

#introDiv {
    width: 600px;
    height: 400px;
    padding: 15px;
    font-size: 30px;
    background-color: #97A8B4;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-color: #2B4162;
    border-width: 5px;
    border-style: groove;
}

#introDiv h2 {
    font-size: 45px;
}

#aboutFlex {
    display: flex;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.projectPic {
    width: 300px;
    height: 150px;
    border-color: #3c3c3c;
    border-width: 10px;
    border-style: groove;
    -webkit-filter: grayscale(100%);
}

.projectPic:hover {
    filter: none;
    border-color: #385F71;
}

#individual {
    margin-top: 50px;
}

#aboutme {
    margin-top: 250px;
    margin-bottom: 50px;
}

#aboutPhoto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#aboutFigure {
    text-align: center;
}

blockquote {
    max-width: 50%;
    height: 200px;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 25px;
    background-color: #97A8B4;
    padding: 10px;
    text-align: center;
    border-color: #2B4162;
    border-width: 5px;
    border-style: groove;
}

a:link {
    color: #e6a652;
}


/* visited link */

a:visited {
    color: rgb(0, 138, 41);
}


/* mouse over link */

a:hover {
    color: rgb(185, 176, 0);
}


/* selected link */

a:active {
    color: rgb(233, 9, 9);
}